
<h4 *ngIf="selectedAssembly != null && selectedAssembly.id != 0">{{selectedAssembly.name}} Statistics from {{fromDate}} - {{toDate}}</h4>
<h4 *ngIf="selectedAssembly == null">Finance Dashboard</h4>
<table class="table " style="width: 100%">

  <tr>
    <td>
      <form class="form-inline" >
        <div class="row">
          <div class="col-xs-4"><div class="form-group filter-form-element">
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="fa fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
            </div>
          </div></div>
          <div class="col-xs-4"><div class="form-group filter-form-element">
            <select [(ngModel)]="selectedAssembly" #ass (change)="onChangeAssembly()"  class="form-control" name="selectedAssembly">
            <option *ngFor="let assembly of assemblyList" [ngValue]="assembly">
                {{assembly.name}}
              </option>
            </select>
          </div></div>
          <div class="col-xs-4"><div class="form-group filter-form-element">
            <select  class="form-control" id="txnType" [(ngModel)]="txnType" name="txnType" (change)="onChangeTxnType($event.target.value)">
              <option label="---All Transactions---" value="">All</option>
              <option label="Income" value="Income">Income</option>
              <option label="Expense" value="Expense">Expenditure</option>
            </select>
          </div></div>
        </div>&nbsp;
        <div class="row">
           <div class="col-xs-12">
             <div class="alert alert-danger" role="alert" *ngIf="error">Search encountered an error...Please try again</div>
             <div class="alert alert-info" role="alert"  *ngIf="success">Search returned {{numResults}} results</div>
           </div>
        </div>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <table id="txnDataTable" class="display" style="width:100%">

      </table>
      <div class="btn-group" role="group" *ngIf="numResults > 0">
        <button type="button" class="btn btn-primary" (click)="downloadCSV()" >Download CSV</button>
      </div>
    </td>
  </tr>

</table>


